
@{
    ViewData["Title"] = "Shecks";
}

<div class="d-flex flex-column justify-content-center align-items-center login-container">
    <div class="text-center login-title">
        <h1>L O G G A &nbsp; I N</h1>
    </div>

    <form class="h-auto login-form align-items-start">
        <div class="login-subtitle">
            <h3>E P O S T</h3>
            <input type="text" class="p-2 h-auto login-input" />
        </div>

        <div class="login-subtitle">
            <h3>L Ö S E N O R D</h3>
            <input type="text" class="p-2 h-auto login-input" />
        </div>

        <div>
            <button class="p-2 h-auto text-center login-button">Logga in</button>           
        </div> 
    </form>
</div>

